* {
    margin: 0;
    padding: 0;
    font-family: Avenir, sans-serif;
}

nav {
    width: 100%;
    height: 80px;
    background-color: #d3b9d3;
    top: 0;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav ul li {
    flex: 1 1 auto;
    text-align: center;
    position: relative;
}

nav a {
    display: block;
    text-decoration: none;
    color: black;
    border-bottom: 2px solid transparent;
    padding: 30px 0px;
}

nav a:hover {
    color: gray;
    border-bottom: 2px solid purple;
}

/*section de bienvenue*/

#bienvenue {
    display: flex;
    height: 200px;
    position: relative;
    top: 150px;
    background-color: rgba(240, 233, 233, 0.979);
    border: 2px dotted lightgrey;
}

#bienvenue h2 {
    font-size: 36px;
    color: rgba(172, 164, 175, 0.883);
    position: relative;
    left: 600px;
    top: 50px;
}

#bienvenue span {
    font-size: 20px;
    color: rgba(172, 164, 175, 0.883);
    position: relative;
    left: 650px;
    top: 50px;
}

/*carrousel*/

.slider {
    width: 100%;
    height: 700px;
    margin: 2px auto 0;
    position: relative;
}

.slides {
    width: 100%;
    height: 100%;
}

.slides img {
    width: 100%;
    height: 700px;
    position: absolute;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

.commandes {
    top: 0px;
    width: 100%;
    height: 100%;
    position: absolute;
}

.commandes span {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #d3b9d3;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.commandes span:nth-child(1) {
    top: 50%;
    transform: translateY(-50%);
    left: 5px;
}

.commandes span:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
    right: 5px;
}

.cercles {
    position: absolute;
    top: 110%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cercle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 5px;
    cursor: pointer;
    outline: none;
    border: 1px solid #333;
}

.active-cercle {
    background: rgb(58, 36, 156);
}

.active {
    opacity: 1!important;
}

/*Les services*/

.conteneur-grid {
    display: grid;
    grid-template-columns: 3fr 3fr;
    grid-auto-rows: 500px;
    margin: 200px;
    gap: 20px 20px;
}

#decorer {
    width: 600px;
    height: 400px;
    grid-column-start: 1;
    grid-row-start: 1;
}

#offrir {
    width: 600px;
    height: 400px;
    grid-column-start: 2;
    grid-row-start: 2;
}



/*Animation image*/

.snip1573 {
    /* display: inline-block;*/
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    margin: 10px;
    max-width: 500px;
    min-width: 500px;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 100%;
}

.snip1573 * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
}

.snip1573:before, .snip1573:after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
    background-color: rgba(172, 164, 175, 0.883);
    border-left: 3px solid #fff;
    border-right: 3px solid #fff;
    content: '';
    opacity: 0.9;
    z-index: 4;
}

.snip1573:before {
    -webkit-transform: skew(45deg) translateX(-155%);
    transform: skew(45deg) translateX(-155%);
}

.snip1573:after {
    -webkit-transform: skew(45deg) translateX(155%);
    transform: skew(45deg) translateX(155%);
}

.snip1573 img {
    backface-visibility: visible;
    max-width: 100%;
    vertical-align: top;
}

.snip1573 figcaption {
    top: 50%;
    left: 50%;
    position: absolute;
    z-index: 5;
    -webkit-transform: translate(-50%, -50%) scale(0.5);
    transform: translate(-50%, -50%) scale(0.5);
    opacity: 0;
    -webkit-box-shadow: 0 0 10px #000000;
    box-shadow: 0 0 10px #000000;
}

.snip1573 h6 {
    background-color: #333;
    border: 2px solid #fff;
    color: rgba(212, 211, 212, 0.883);
    font-size: 1em;
    font-weight: 600;
    letter-spacing: 1px;
    margin: 0;
    padding: 5px 10px;
    text-transform: uppercase;
}

.snip1573 a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 3;
}

.snip1573:hover>img, .snip1573.hover>img {
    opacity: 0.5;
}

.snip1573:hover:before, .snip1573.hover:before {
    -webkit-transform: skew(45deg) translateX(-55%);
    transform: skew(45deg) translateX(-55%);
}

.snip1573:hover:after, .snip1573.hover:after {
    -webkit-transform: skew(45deg) translateX(55%);
    transform: skew(45deg) translateX(55%);
}

.snip1573:hover figcaption, .snip1573.hover figcaption {
    -webkit-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
}

.conteneur-grid p {
    position: relative;
    top: 150px;
    padding: 10px;
    font-size: 20px;
    color: rgba(172, 164, 175, 0.883);
}


.conteneur-grid img {
    width: 600px;
    height: 400px;
}
/*Nos services */
#nosservices {
    display: grid;
    grid-template-columns: 3fr 3fr 3fr 3fr;
    height: 250px;
    position: relative;
    top: -150px;
    background-color: rgba(240, 233, 233, 0.979);
    border: 2px dotted lightgrey;
}
#nosservices h3 {
    font-size: 26px;
    color: rgba(172, 164, 175, 0.883);
    position: relative;
    left: 600px;
    top: 50px;
}

#nosservices span {
    font-size: 20px;
    color: rgba(172, 164, 175, 0.883);
    position: relative;
    left: 600px;
    top: 50px;
}
#conseil{
    position: relative;
    right: 500px;
    top: 100px;
}
#imgconseil{
    height: 100px;
    position: absolute;
    left: 630px;
    top: -80px;
}
#paiement{
    position: relative;
    right: 150px;
    top: 50px;
}
#imgpaiement{
    height: 120px;
    position: absolute;
    left: 650px;
    top: -100px;
}

#retour{
    position: relative;
    left: 260px;
    bottom: 10px;
}
#imgretour{
    height: 100px;
    position: absolute;
    left: 630px;
    top: -80px;
}
#livraison{
    position: relative;
    left: 650px;
    bottom: 70px;
}
#imglivraison{
    height: 150px;
    position: absolute;
    left: 650px;
    bottom: -10px;
}

/*footer*/

footer {
    display: grid;
    grid-template-columns: 3fr 3fr 3fr;
    height: 450px;
    background-color: #130A0A;
    color: white;
    line-height: 25px;
}

footer h3 {
    position: relative;
    bottom: 20px;
}

#horaire {
    position: relative;
    left: 100px;
    top: 100px;
}

#horaire ul {
    list-style-type: none;
    text-decoration: none;
}

#contact {
    position: relative;
    top: 100px;
}

#localisation p {
    position: relative;
    top: 100px;
    right: 200px;
}

#localisation h3 {
    position: relative;
    top: 70px;
    right: 200px;
}

.link img {
    height: 50px;
    width: 50px;
    /* position: relative;
    left: 600px;
    bottom: 100px;*/
}

.linkedin {
    position: relative;
    left: 620px;
    bottom: 180px;
}

.github {
    position: relative;
    left: 550px;
    bottom: 125px;
}

/*contact*/

#bibody {
    background-color: #D6CFCF;
}

h4 {
    padding: 10px;
    position: relative;
    top: 20px;
    text-align: center;
    font-family: Avenir, sans-serif;
    font-size: 30px;
    color: rgba(172, 164, 175, 0.883);
}

p {
    text-align: justify;
}

#contenercontact {
    display: flex;
    height: auto;
    max-width: 100%;
    margin: 0 auto;
    position: relative;
    padding: 30px;
    margin: 0 0 50px 0;
    transition: all .4s ease-in-out;
}

form {
    margin: auto;
}

#msg {
    height: 200px;
    width: 800px;
    margin: 3px;
    padding: 8px 15px;
    border-radius: 5px;
}

.btn {
    padding: 8px 15px;
    margin: 3px;
    font-size: 16px;
    width: 835px;
    text-align: center;
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid #999999;
    cursor: pointer;
}

.btn:hover {
    background-color: #999999;
    color: white;
    font-weight: bold;
}

input {
    margin: 3px;
    width: 800px;
    padding: 8px 15px;
    border-radius: 5px;
}

select {
    margin: 3px;
    width: 835px;
    padding: 8px 15px;
    border-radius: 5px;
}

@media screen and (max-width: 1000px) {
    .slider {
        width: 100%;
        height: auto;
    }
    .slides {
        width: 100%;
        height: 100%;
    }
    .slides img {
        width: 100%;
        height: auto;
    }
    .commandes {
        top: 0px;
        width: 100%;
        height: 100%;
        position: absolute;
    }
    .commandes span {
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }
    .commandes span:nth-child(1) {
        top: -60%;
        transform: translateY(700%);
        left: 5px;
    }
    .commandes span:nth-child(2) {
        top: -60%;
        transform: translateY(700%);
        right: 5px;
    }
    .cercles {
        position: absolute;
        top: 380px;
    }
    .cercle {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        margin: 5px;
        cursor: pointer;
        outline: none;
        border: 1px solid #333;
    }
    .active-cercle {
        background: rgb(58, 36, 156);
    }
    .active {
        opacity: 1!important;
    }
    #bienvenue {
        display: flex;
        height: 200px;
        position: relative;
        top: 450px;
        background-color: rgba(240, 233, 233, 0.979);
        border: 2px dotted lightgrey;
    }
    #bienvenue h2 {
        font-size: 26px;
        color: rgba(172, 164, 175, 0.883);
        position: relative;
        left: 100px;
        top: 50px;
    }
    #bienvenue span {
        font-size: 20px;
        color: rgba(172, 164, 175, 0.883);
        position: relative;
        left: 150px;
        top: 50px;
    }
    
  #offrir{
width: 200px;
height: 200px;
  }

  #decorer{
    width: 200px;
    height: 200px; 
  }
   .snip1573 {
        /* display: inline-block;*/
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        margin: 10px;
        max-width: 200px;
        min-width: 200px;
        overflow: hidden;
        position: relative;
        text-align: center;
        width: 100%;
        
    }
    .snip1573 * {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-transition: all 0.35s ease;
        transition: all 0.35s ease;
        display: none;
    }
    
    .snip1573:before, .snip1573:after {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        -webkit-transition: all 0.35s ease;
        transition: all 0.35s ease;
        background-color: rgba(172, 164, 175, 0.883);
        border-left: 3px solid #fff;
        border-right: 3px solid #fff;
        content: '';
        opacity: 0.9;
        z-index: 4;
        display: none;
    }
    
    .snip1573:before {
        -webkit-transform: skew(45deg) translateX(-155%);
        transform: skew(45deg) translateX(-155%);
        display: none;
    }
    
    .snip1573:after {
        -webkit-transform: skew(45deg) translateX(155%);
        transform: skew(45deg) translateX(155%);
        display: none;
    }
    
    .snip1573 img {
        backface-visibility: visible;
        max-width: 100%;
        vertical-align: top;
        display: none;
    }
    
    .snip1573 figcaption {
        top: 50%;
        left: 50%;
        position: absolute;
        z-index: 5;
        -webkit-transform: translate(-50%, -50%) scale(0.5);
        transform: translate(-50%, -50%) scale(0.5);
        opacity: 0;
        -webkit-box-shadow: 0 0 10px #000000;
        box-shadow: 0 0 10px #000000;
        display: none;
    }
    
    .snip1573 h6 {
        background-color: #333;
        border: 2px solid #fff;
        color: rgba(212, 211, 212, 0.883);
        font-size: 1em;
        font-weight: 600;
        letter-spacing: 1px;
        margin: 0;
        padding: 5px 10px;
        text-transform: uppercase;
        display: none;
    }
    
    .snip1573 a {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 3;
        display: none;
    }
    
    .snip1573:hover>img, .snip1573.hover>img {
        opacity: 0.5;
        display: none;
    }
    
    .snip1573:hover:before, .snip1573.hover:before {
        -webkit-transform: skew(45deg) translateX(-55%);
        transform: skew(45deg) translateX(-55%);
        display: none;
    }
    
    .snip1573:hover:after, .snip1573.hover:after {
        -webkit-transform: skew(45deg) translateX(55%);
        transform: skew(45deg) translateX(55%);
        display: none;
    }
    
    .snip1573:hover figcaption, .snip1573.hover figcaption {
        -webkit-transform: translate(-50%, -50%) scale(1);
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
        display: none;
    }
}